.main-home-container{
    /* padding: 100px 20px 20px 20px; */
    max-width: 1100px;
    margin: 0 auto;
}

.post-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-desc-image {
    background-image: url('/src/assets/main_img.png');
    width: 100%;
    height: 50vw;
    max-height: 400px;
    flex: 1;
}

  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .main-desc-container {
    /* display: flex;
    align-items: center;
    margin-bottom: 20px; */
  }
  
  .main-desc-word {
    /* flex: 1; */
    /* padding: 20px; */
    /* background-color: #f2f2f2; */
    /* 다른 스타일링 속성 추가 가능 */
  }
  .main-desc-word {
    
    position: absolute;
    width: 1081px;
    transform: translate(0px, -140px);
    background-color: rgba(255,255,255,0.8);
    height: 100px;
    text-align: end;
    padding: 20px 10px;
  }
  
  .main-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .main-title p {
    margin: 0;
  }
  
  .main-desc {
    /* 다른 스타일링 속성 추가 가능 */
    font-size: 16px;
  }
  
  .title-wrapper {
    font-size: 18px;
    font-weight: bold;
  }
  
  .more-wrapper a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .post-list-contents-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }