/* 헤더 컨테이너 */
.header-container {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 0;
    position: fixed;
    z-index: 999;
}

/* 헤더 래퍼 */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}

/* 로고 */
.header-logo p {
    font-size: 24px;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}

.header-logo a {
    text-decoration: none;
}

/* 메뉴 */
.header-menu-wrapper {
    display: flex;
}

.header-menu {
    margin-right: 20px;
}

.header-menu a {
    color: #000000;
    text-decoration: none;
}

/* 사용자 */

.header-user button {
    margin: 0px;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user a {
    color: #000000;
    text-decoration: none;
}

.header-username {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.header-notification {
    font-size: 24px;
    margin-right: 20px;
}